.contacts {
  background-color: @white;
  margin-top: 85px;
  margin-bottom: 40px;
}

.contacts__title {
  margin: 0;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: @black;
}

.contacts__description {
  padding-bottom: 43px;
}

.contacts__email-title {
  width: 70px;
  font-size: 15px;
  line-height: 30px;
}

.contacts__email-link {
  font-size: 15px;
  line-height: 30px;
  text-decoration: underline;
}

.contacts__address-title {
  width: 70px;
  font-size: 15px;
  line-height: 30px;
}

.contacts__address-descr-wrapper {
  width: 140px;
}

.contacts__adress__descr {
  font-size: 15px;
  line-height: 30px;
}


.contacts__btn {
  display: block;
  padding: 17px 45px;
}
