.features {
  position: relative;
}

.features__inner {
  margin-top: 68px;
  display: flex;
  flex-direction: column;
}

.features-container {
  position: relative;
  box-sizing: border-box;
}

.features__list {
  list-style: none;
  padding-left: 0;
}

.features__title {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  margin: 0;
}

.features__list-item {
  padding-top: 14px;
  min-height: 92px;
  max-width: 300px;
}

.features__list-item--icon-flower::before {
  display: block;
  margin-left: 9px;
  content: url("../img/icon-feature-flower.svg");
  width: 32px;
  height: 38px;
}

.features__list-item--icon-money::before {
  display: block;
  content: url("../img/icon-feature-money.svg");
  width: 47px;
  height: 28px;
  margin: 0 0 24px 2px;
}

.features__list-item--icon-heart::before {
  display: block;
  content: url("../img/icon-feature-heart.svg");
  width: 34px;
  height: 28px;
  margin: 5px 0 24px 9px;
}

.features__list-item--icon-ball::before {
  display: block;
  content: url("../img/icon-feature-ball.svg");
  width: 35px;
  height: 35px;
  margin: 0 0 18px 4px;
}

.features__list-item--icon-rocket::before {
  display: block;
  content: url("../img/icon-feature-rocket.svg");
  padding-bottom: 8px;
  width: 55px;
  height: 24px;
}

.features__list-item--icon-gift::before {
  display: block;
  content: url("../img/icon-feature-gift.svg");
  width: 33px;
  height: 33px;
}

.features__item-text {
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
}

.features-container::before {
  left: 0;
  right: 0;
  margin: auto;
  content: "";
  position: absolute;
  z-index: 100;
  display: block;
  top: -38px;
  width: 100%;
  height: 23px;
  background-image: url("../img/bg-zigzag-line.svg");
  background-size: 100% 100%;
}

@media (min-width: @tablet-width) {
  .features__inner {
    margin-top: 53px;
    box-sizing: content-box;
  }

  .features__title {
    font-size: 43px;
    line-height: 50px;
    margin-top: 27px;
  }

  .features__list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 480px;
  }

  .features__list-item {
    padding-top: 0;
    margin-top: 20px;
    width: 50%;
  }

  .features__item-text {
    margin-top: 22px;
    font-size: 20px;
    line-height: 22px;
  }

  .features-container::before {
    top: -46px;
  }

  .features__list-item--icon-flower::before {
    margin: -9px 0px -4px 10px;
  }

  .features__list-item--icon-money::before {
    margin: -21px 0px 25px 2px;
  }

  .features__list-item--icon-heart::before {
    margin: -21px 0 21px 9px;
  }

  .features__list-item--icon-ball::before {
    margin: -5px 0 -5px 4px;
  }

  .features__list-item--icon-rocket::before {
    padding-bottom: 0;
    margin: -17px 0px 25px -3px;
  }

  .features__list-item--icon-gift::before {
    margin: -25px 0 19px 3px;
  }
}

@media (min-width: @desktop-width) {
  .features__inner {
    margin-top: 93px;
  }

  .features-container {
    padding-right: 172px;
    padding-left: 172px;
  }

  .features__title {
    font-size: 53px;
    line-height: 57px;
  }

  .features__list-item {
    padding-left: 5px;
    padding-top: 9px;
  }

  .features-container::before {
    top: -66px;
    background-size: auto;
  }

  .features__title {
    margin-top: 24px;
  }

  .features__list-item--icon-flower::before {
    margin: -14px 0px -4px 10px;
  }

  .features__list-item--icon-money::before {
    margin: -26px 0px 25px 2px;
  }

  .features__list-item--icon-heart::before {
    margin: -25px 0 21px 9px;
  }

  .features__list-item--icon-ball::before {
    margin: -12px 0 -7px -2px;
  }

  .features__list-item--icon-rocket::before {
    padding-bottom: 0;
    margin: -22px 0px 25px -9px;
  }

  .features__list-item--icon-gift::before {
    margin: -28px 0 19px 0px;
  }
}
