.features {
  background-color: @white;
  margin-top: 65px;
}

.features__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.features__item {
  padding-top: 84px;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
}
