.feedbacks {
  background-color: @white;
  margin-top: 50px;
}

.feedbacks__item {
  margin: 0;
  padding: 0;
}

.feedbacks__text {
  margin: 0;
  padding-top: 25px;
  padding-bottom: 60px;
  font-size: 15px;
  line-height: 30px;
}

.feedbacks__author {
  color: @black;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  font-style: normal;
}

.feedbacks__link {
  color: @black;
  font-size: 17px;
  line-height: 24px;
  font-weight: 400;
}

.feedbacks__btn {
  display: block;
}

.feedbacks__controls {
  margin-bottom: 100px
}
