.main-footer {
  background-color: @gray;
}

.main-footer__social {
  height: 75px;
  list-style: none;
}

.main-footer__logo {
  height: 50px;
  font-size: 19px;
  line-height: 18px;
  font-weight: 700;
  text-align: center;
  padding-top: 25px;
}
