.main-header {
  background-color: @white;
  min-height: 78px;
  border-bottom: 1px solid #ececec;
}

.main-header__nav {
  display: flex;
  align-items: center;
}

.main-header__nav-list {
  display: none; //интерактивный объект
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-header__nav-burger {
  margin-left: auto;
  cursor: pointer;
}

.main-header__nav-item {
  min-height: 78px;
  font-weight: 700;
}

