.promo-catalog {
  background-color: #f9f9f9;
}

.promo-catalog__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.promo-catalog__item-container {
  padding: 0;
}

.promo-catalog__link-interior {
  background-color: #63d1bb;
}

.promo-catalog__link-toys {
  background-color: #56c3b2;
}

.promo-catalog__link {
  position: relative;
  display: block;

  font-size: 19px;
  line-height: 24px;
  font-weight: 700;
  color: @white;

  padding-top: 25px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 130px;

  &:hover {
    top: -5px;
  }
}

.promo-catalog__img-svg-interior {
  fill: #3bb09d;
  position: absolute;
  top: 25%;
  left: 77%;

  &:hover {
    fill: #239f8e;
  }

  &:active {
    fill: #37b2a0;
  }
}

.promo-catalog__img-svg-toys {
  fill: #3bb09d;
  position: absolute;
  top: 25%;
  left: 73%;

  &:hover {
    fill: #239f8e;
  }

  &:active {
    fill: #37b2a0;
  }
}


@media (min-width: @tablet-width) {
  .promo-catalog__item-container {
    padding: 0 50px;
  }

  .promo-catalog__list {
    display: flex;
  }

  .promo-catalog__item {
    width: 50%;
    font-size: 20px;
    line-height: 30px;
  }

  .promo-catalog__link {
    padding-top: 31px;
    padding-bottom: 35px;
    padding-right: 200px;
    padding-left: 37px;
  }

  .promo-catalog__wrapper {
    position: relative;
  }

  .promo-catalog__wrapper::after {
    content: "";
    position: absolute;
    z-index: 100;
    display: block;
    bottom: -13px;
    width: 100%;
    height: 23px;
    background-image: url("../img/bg-zigzag-fill.svg");
    background-size: 100% 100%;
  }
}

@media (min-width: @desktop-width) {
  .promo-catalog__item-container {
    padding: 0;
  }

  .promo-catalog__list {
    padding: 0;
  }

  .promo-catalog__item {
    flex: 0 0 50%;
  }

  .promo-catalog__link {
    min-height: 66px;
    padding-right: 320px;
    padding-bottom: 25px;
    padding-top: 33px;
    padding-left: 29px;
  }

  .promo-catalog__text {
    margin-left: 10px;
    display: block;
  }

  .promo-catalog__img-svg-interior {
    left: 86%;
  }

  .promo-catalog__img-svg-toys {
    left: 83%;
  }

  .promo-catalog__wrapper::after {
    bottom: -3px;
    background-size: auto;
  }
}
