.promo-catalog {
  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: top center;
}

.promo-catalog__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.promo-catalog__title {
  margin: 0;
  padding-top: 71px;
  padding-bottom: 122px;

  font-size: 27px;
  line-height: 30px;
  font-weight: 700;
  color: @black;
  text-align: center;
}

.promo-catalog__text {
  display: inline-block;
  width: 130px;
  padding-top: 25px;
  padding-bottom: 32px;

  font-size: 19px;
  line-height: 24px;
  font-weight: 700;
  color: @white;
}


.promo-catalog__interior {
  background-color: #63d1bb;
}

.promo-catalog__toys {
  background-color: #56c3b2;
}
